.appointment {
  position: relative;
  width: 100%;
  max-height: 720px; 
  max-height: 100vh;        
  background: #fbfbfb;
  max-width: 599px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 30px;
}

.btn_close {
  position: absolute;
  top: -50px;
  right: -50px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close_icon {
  stroke-width: 2.5px;
  stroke: #11101c;
  width: 32px;
  height: 32px;
}

.appointment_info {
  top: 64px;
  left: 64px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 472px;
  border-radius: 15px;
  border: none;
  margin-bottom: 40px;
}

.appointment_title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #11101c;
  padding: 0;
  margin: 0;
}

.appointment_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(17, 16, 28, 0.5);
  padding: 0;
  margin: 0;
}

.nanny_info {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
}

.nanny_photo {
  border-radius: 15px;
}
.avatar {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 15px;
}

.nanny_name_text {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #8a8a89;
  margin: 0;
}

.nanny_name_value {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #11101c;
  margin: 0;
  margin-top: 4px;
}
.nanny_name {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form_row {
  display: flex;
  gap: 8px;
}

.form_row label {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input_row {
  width: 100%;
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 0 16px;
  height: 52px;
  box-sizing: border-box;
}

.color_text {
  color: var(--primary-color);
  margin: 0;
}

.input {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 0 16px;
  width: 100%;
  height: 52px;
  box-sizing: border-box;
}

.input::placeholder,
.input_row::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #11101c;
}

.textarea {
  resize: none;
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  height: 116px;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #11101c;
}

.form_btn {
  background: var(--primary-color);
  border-radius: 30px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  cursor: pointer;
  margin-top: 24px;
  padding: 16px 170px;
}

.form_btn:hover {
  color: var(--primary-color);
  background: #fbfbfb;
}
