@media screen and (min-width: 320px) {
  .app_container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .app_.container {
    max-width: 768px;
    position: relative;
    z-index: 1;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .app_container {
    max-width: 1440px;
    position: relative;
    z-index: 1;
  }
}
