.header {
  padding: 20px 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 32px;
  left: 32px;
  right: 32px;
  background-color: transparent;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}

.header_colored {
  background-color: var(--primary-color);
}

.logo_text {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 92px;
}

.navigation {
  display: flex;
  gap: 40px;
  margin: 0;
}

.nav_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-decoration: none;
}

.registration {
  display: flex;
  gap: 8px;
}

.btn_log {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 14px 39px;
  background: transparent;
  cursor: pointer;
}

.btn_registration {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border-radius: 30px;
  padding: 14px 40px;
  background: var(--primary-color);
  cursor: pointer;
  border: none;
}

.btn_registration:hover {
  color: var(--primary-color);
  background: #fbfbfb;
}

.btn_log:hover {
  color: var(--primary-color);
  background: #fbfbfb;
}

.user_profile {
  display: flex;
  align-items: center;
  gap: 14px;
}

.user_info {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  background: transparent;
  border-radius: 30px;
}

.user_icon {
  fill: #fbfbfb;
  width: 24px;
  height: 24px;
}

.user_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.btn_logout {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 14px 39px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn_logout:hover {
  color: var(--primary-color);
  background: #fbfbfb;
}
