.favorites {
  background: #f3f3f3;
  width: 100%;
  padding: 152px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites > * {
  width: 100%;
  max-width: 1440px;
  padding: 0 128px;
  box-sizing: border-box;
}

.btn {
  border-radius: 30px;
  padding: 14px 40px;
  background: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.btn:hover {
  color: var(--primary-color);
  background: #fbfbfb;
}

@media screen and (max-width: 980px) {
  .favorites {
    padding: 100px 0 50px 0;
  }
  
  .favorites > * {
    padding: 0 16px;
  }
}
