ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --font-family: "Helvetica Neue", sans-serif;
  --primary-color: #f03f3b;
}

:root[data-theme="red"] {
  --primary-color: #f03f3b;
}

:root[data-theme="blue"] {
  --primary-color: #0957c3;
}

:root[data-theme="green"] {
  --primary-color: #103931;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
li {
  font-family: var(--font-family);
}
